<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        Stockholm.AI is an independent nonprofit organization
                        created by the community for the community.<br><br>

                        <b>Mission Statements</b><br>
                        Support and bring together: hobbyists, academics, industry and investors in AI in the Stockholm area.<br>
                        Assist in Stockholm being a global hub for companies and research in AI.<br>
                        Spread knowledge and support meetings on AI in the Stockholm area.<br>
                        <br>

                        <b>Meeting Protocols</b><br>
                        <a href="">gDrive</a>

                    </h3>
                </div>
            </div>
            <!--
                            Spread knowledge on and support meetings on AI in the Stockholm area.
                            Assist in Stockholm being a global hub for companies and research in AI.
                            Support and bring together: hobbyists, academics, industry and investors in AI in the Stockholm area.
            -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for event in site.data.timeline %}
                            <li class="{% cycle '', 'timeline-inverted' %}">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/{{ event.image }}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{ event.date }}</h4>
                                        <h4 class="subheading">{{ event.title }}</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">
                                            {{ event.text }}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                        <li class="">
                            <div class="timeline-image">
                                <h4>
                                    Be Part<br>
                                    Of Our<br>
                                    Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
