<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <title>
        {{ site.data.organization.name }}{% if page.title %} - {{ page.title }}{% endif %}
    </title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.data.organization.description }}">

    <meta name="og:site_name" content="{{ site.data.organization.name }}{% if page.title %} - {{ page.title }}{% endif %}"/>
    <meta name="og:description" content="{{ site.data.organization.description }}" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="http://stockholm.ai/img/logo.png" /><!-- NOTE Open Graph needs absolute paths for compatibility reasons -->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- IE -->
    <link rel="shortcut icon" sizes="16x16 32x32" type="image/x-icon" href="favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="favicon.ico" />

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>
