<section id="job-fair">
    <div class="container">
        <div
            class="row"
            style="padding-bottom: 2em;"
        >
            <div class="col-lg-12 text-center">
            <h2 class="section-heading">Stockholm AI's Job Fair</h2>
                <h3 class="section-subheading text-muted">
                </h3>
                <p>
                    We’re excited to announce that we have partnered with
                    <a href="https://sthlm-tech-fest-2018.confetti.events">STHLM TECH FEST</a>
                    [<a href="https://sthlm-tech-week-2018.confetti.events">STHLM TECH WEEK</a>]
                    to host Stockholm's first Artificial Intelligence and Machine Learning job fair.
                </p>
                <p>
                    <img
                        src="/img/job-fair/stockholm-ai-job-fair.jpg"
                        alt="Stockholm AI's Job Fair"
                        class="photo"
                    />
                </p>
                <p>
                    Join us and connect with one of the most exciting tech communities today!
                    <br>Looking forward to see you there!
                </p>
                <p>
                    - The Stockholm AI team
                </p>
            </div>
        </div>
        <div
            class="row bg-secondary"
            style="padding-bottom: 2em;"
        >
            <div class="col-lg-12 text-center">
                <h2>
                    For visitors
                </h2>
                <h3 style="color: white">
                    Free entrance for visitors!*
                </h3>
                <div style="text-align: left; display: inline-block;">
                    <ul>
                        <li>
                           Get exclusive access to internships and jobs in various industries
                        </li>
                        <li>
                            Market your skills and interests with recruiters
                        </li>
                        <li>
                            Network with employers and colleagues in your field
                        </li>
                        <li>
                            Get to know about all the exciting AI / ML projects and applications in Stockholm and the Nordics!
                        </li>
                    </ul>
                </div>
                <p>
                    For more information
                    <a
                        href="/img/job-fair/visitor-flyer.pdf"
                    >
                        click here
                    </a>.
                </p>

                <p>
                    Be ready to network and don’t forget to update  your CV or  LinkedIn!
                </p>
            </div>
        </div>
        <div
            class="row bg-dark"
            style="padding-bottom: 2em;"
        >
            <div class="col-lg-12 text-center">

            <h2 style="color: white">
                For companies
            </h2>
            <h3 class="fnt-secondary">
                <u>
                    Registration required!*
                </u>
            </h3>
            <p class="fnt-secondary">
                Would you like to showcase your company to an exciting community of Artificial Intelligence and Machine Learning professionals?
            </p>
            <p>
                <a href="/forms/job-fair" class="btn btn-xl">Register Interest</a>
            </p>
            <p class="fnt-secondary">
                Want to know more? Check out our FAQ in the registration form above
                or contact us at <a href="mailto:job-fair@stockholm.ai">job-fair@stockholm.ai</a>.
            </p>
	    <div style="text-align: left; display: inline-block;">
                <ul>
                    <li>
                        Get exclusive access to the most exciting tech community today
                    </li>
                    <li>
                        Save money by connecting with potential candidates directly
                    </li>
                    <li>
                        Cut down time wasted lining up interviews for unqualified candidates
                    </li>
                    <li>
                        Connect with young candidates early on, before the best go out into the broader job market
                    </li>
                    <li>
                        Connect with non traditional candidates
                    </li>
                    <li>
                        Increase your brand awareness by showing the community what you’re all about
                    </li>
                    <li>
                        Meet and network with other corporations
                    </li>
                </ul>
            </div>

            <p>
                For more information
                <a
                    href="/img/job-fair/company-flyer.pdf"
                >
                    click here
                </a>.
            </p>


            <p>
                Be ready to network, and bring useful and original materials that highlight how your company uses  AI / ML in your day to day operations.
            </p>

        </div>
    </div>

    <div
        class="row"
        style="padding-bottom: 2em;"
    >
        <div class="col-lg-12">
            <p>
                * Please note that registration for STHLM TECH FEST is managed separately.
                Visit
                <a href="https://sthlm-tech-fest-2018.confetti.events">https://sthlm-tech-fest-2018.confetti.events</a>
                for more information.
            </p>
        </div>
    </div>
</section>
