<section id="mailing-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Subscribe to Our Fantastic Mailing List</h2>
                    <h3 class="section-subheading text-muted">
                        Get the latest Stockholm AI news directly to your inbox!
                    </h3>
                    <a href="/forms/signup" class="page-scroll btn btn-xl">Sign Up</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </section>
