<section id="mailing-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Subscribe to Our Fantastic Mailing List</h2>
                    <h3 class="section-subheading text-muted">
                        Get the latest yaddaydaydyaLorem ipsum dolor sit amet consectetur.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">

                        <!-- n MailChimp Signup Form -->
                        <!--<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
                        <!--
                        <style type="text/css">
                            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                        </style>
                        -->
                        <div id="mc_embed_signup">
                            <form action="//Stockholm.us16.list-manage.com/subscribe/post?u=1236d779776e8aecb0f10d8d5&amp;id=a98f766666" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">

                                    <div class="col-md-8">
                                        <div class="mc-field-group control-group form-group">
                                            <input type="email" class="form-control required email" placeholder="Your Email *" id="mce-EMAIL" name="EMAIL" required data-validation-required-message="Please enter your email address.">
                                        </div>
                                        <div id="mce-responses" class="clear help-block text-danger">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>

                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                            <input type="text" name="b_1236d779776e8aecb0f10d8d5_a98f766666" tabindex="-1" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-xl" style="width: 100%;">
                                        <!--<button type="submit" class="btn btn-xl" style="width: 100%;">Subscribe</button>-->
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        <!--End mc_embed_signup-->

                    </div>

                </div>
            </div>
        </div>
    </section>
