<!-- Services Section -->
    <section id="membership" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Become a Member</h2>
                    <h3 class="section-subheading text-muted">
                        What do you get as a member of {{ site.organization.name }}? Yadda yadda something more, this is what something.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Manually Swish</h4>
                    <p class="text-muted">
                        Swish <code>50SEK</code> to <code>1232300689</code>with a message containing the word <code>"Membership"</code>.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Swish with QR Code</h4>
                    <img src="img/membership/membership_fee_qr.png" width="90%" alt="Membership Fee QR">
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Alternative Method</h4>
                    <p class="text-muted">
                        Send <code>50SEK</code> to PostGiro <code>1234568</code>with a message containing the word <code>"Membership"</code>.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </section>
