<!-- Services Section -->
    <section id="membership" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Become a Member</h2>
                    <h3 class="section-subheading text-muted">
                        Support {{ site.organization.name }} by becoming a member, the more members the more activities are possible.<br>
                        As a member you also get access to our member exclusive events and discounts on future events.<br><br>
                        Join us by following the payment instructions below and signing up using <a href="https://docs.google.com/forms/d/e/1FAIpQLSdq5fcyNHNLykx3f7jQxzOLHMt8nyHj-obCRoPIlGBd--VFKQ/viewform?c=0&w=1">this form</a>. The membership is valid for one year.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Swish</h4>
                    <p class="text-muted">
                        Swish <code>50SEK</code> to <code>1232300689</code>with a message containing the word <code>"Membership"</code>.
                    </p>
                    <img src="img/membership/membership_fee_qr.png" width="90%" alt="Membership Fee QR">
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Meetup Ticket</h4>
                    <p class="text-muted">
                        Pay a full price or community donation meetup ticket. <code>50SEK</code> of the price goes to the membership fee.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Alternative Method</h4>
                    <p class="text-muted">
                        Send <code>50SEK</code> to PostGiro <code>XYZXYZXYZ</code>with a message containing the word <code>"Membership"</code>.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </section>
