<section class="{% cycle '', 'bg-light-gray' %}" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partners</h2>
                <h3 class="section-subheading text-muted">
                    We are currently looking for partners. <br>
                    Do you want to support the AI community in Stockholm? <br>
                    Please <a href=mailto:partnership@stockholm.ai>contact us</a> for more information.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
	    <h2 class="section-heading">Diamond Partners</h2>
            {% for partner in site.data.partners %}
                {% if partner.active %}
                {% if partner.level == 'diamond' %}
                    <div class="col-md-6 col-sm-6">
                        <a href="{{ partner.url }}">
                            <img 
			    	src="img/company_logos/{{ partner.pic }}"
				class="img-responsive img-centered"
				alt="{{ partner.name }}"
			    />
                        </a>
                    </div>
                {% endif %}
                {% endif %}
            {% endfor %}
	    </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
	    <h2 class="section-heading">Silver Partners</h2>
            {% for partner in site.data.partners %}
                {% if partner.active %}
                {% if partner.level == 'silver' %}
                    <div class="col-md-2 col-sm-2">
                        <a href="{{ partner.url }}">
                            <img 
			    	src="img/company_logos/{{ partner.pic }}"
				class="img-responsive img-centered"
				alt="{{ partner.name }}"
			    />
                        </a>
                    </div>
                {% endif %}
                {% endif %}
            {% endfor %}
	    </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="img/events/IMG_3024.JPG" class="photo" />
            </div>
        </div>
    </div>
</section>
