    <section id="what-we-do" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <h2 class="section-heading">What we do</h2>
                    <h3 class="section-subheading text-muted">
                        Stockholm AI was established to act as a platform for exchanging knowledge between experts in different fields relating to AI, and we encourage our members to take initiative and arrange events. Don’t hesitate to get in touch with us if you wish to contribute or give us feedback.

                    </h3>
                    <h3 class="section-subheading text-muted">
                        The following list (<a href="https://docs.google.com/spreadsheets/d/1f_R-i6RllD_Z2q2VLwbc0XJnce6wOb6HzOUSHfmjqus/edit?usp=sharing">link</a>) shows the current activities and events going on within Stockholm AI.
                        Please do not hesitate to contact any of the responsible people if you want to help out or participate in the activities and events.
                        Also, if you want to initiate an event or activity which is not already going on, please contact a board member (<a href="/board">link</a>) and propose your ideas. Stockholm AI always encourages and welcomes new ideas and initiatives.

                    </h3>
                </div>
            </div>

            <div class="row text-justify">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-meetup fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Meetup</h4>
                    <p class="text-muted">
                        The {{ site.data.organization.name }} meetups aims to bring together a broader audience of AI professionals, startups, investors and academia in the AI sphere together to understand the current state of the technology and what is in store for the near future.
                    </p>
                    <br>

                    <a href="/meetups" class="page-scroll btn btn-xl">Read More</a>

                    <br /><br /><br /><br />

                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Study Group</h4>
                    <p class="text-muted">
                        The purpose of the {{ site.data.organization.name }} study groups is to go into depth on research articles, concepts, blog post, and master’s theses.
                        This to advance professional practitioners of AI and machine learning to increase their practical and theoretical skills.
                    </p>
                    <br>

                    <a href="/study-groups" class="page-scroll btn btn-xl">Read More</a>

                    <br /><br /><br /><br />

                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Castle AI</h4>
                    <p class="text-muted">
                        The Castle AI workshops take place roughly every two weeks and focus on deep learning. One important aspect of Castle AI is that the guest lecturers are asked to explain the subjects in a way which welcomes both beginners and people who are more familiar within the field. The workshops often end with coding or discussion sessions, where the attendants collaborate to explore or try to solve some issue introduced by the guest lecturers.
                    </p>
                    <a href="https://www.facebook.com/groups/1441013259322143" class="page-scroll btn btn-xl">Read More</a>

                    <br /><br /><br /><br />

                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Job Board</h4>
                    <p class="text-muted">
                        Stockholm AI job board gathers all the relevant job within AI in Stockholm, which is broadcasted to all of our members.
                    </p>
                    <a href="/jobs" class="page-scroll btn btn-xl">Read More</a>

                    <br /><br /><br /><br />

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Academic Reading Group</h4>
                    <p class="text-muted">
                        Takes place at KTH every 2-3 weeks. The academic reading group meets to discuss scientific ML/AI papers to broaden the understanding of the underlying theory and learn about new methods.
                    </p>
                    <a href="https://www.facebook.com/groups/stockholmai" class="page-scroll btn btn-xl">Read More</a>

                    <br /><br /><br /><br />

                </div>


                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mentorship</h4>
                    <p class="text-muted">
                        Stockholm AI arranges a mentorship program for all Stockholm AI members. Mentees who want to learn things related to AI, for example deep learning, business aspects of AI, random forest or ethical aspects within AI, are matched with appropriate and experienced mentors. Are you interested in mentoring or being mentored?
                    </p>
                    <a href="/mentorship" class="page-scroll btn btn-xl">Read More</a>

                    <br /><br /><br /><br />

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Weekly Hack</h4>
                    <p class="text-muted">
                        The weekly AI hacks serves as an relaxed open forum where AI enthusiasts gathers to get help with, work on, and discuss AI related projects. Bring a laptop, research paper or just your ideas and have a nice cup of coffee with the Stockholm AI community.
                    </p>
                    <a href="https://www.facebook.com/groups/stockholmai" class="page-scroll btn btn-xl">Read More</a>

                    <br /><br /><br /><br />

                </div>
		<div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Distilling AI</h4>
                    <p class="text-muted">
                        Distilling AI is a study group where we digest different AI-related concepts to arrive at intuitive abstractions and visualizations. Every series of topics is distilled by smaller intimate groups during a few sessions and later shared with the community.
                    </p>
                    <a href="https://www.facebook.com/groups/stockholmai" class="page-scroll btn btn-xl">Read More</a>

                    <br /><br /><br /><br />

                </div>



            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="img/events/IMG_3025.JPG" class="photo"/>
                </div>
            </div>
        </div>
    </section>
