    <section id="what-we-do" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <h2 class="section-heading">What we do</h2>
                    <h3 class="section-subheading text-muted">
                        Stockholm AI was established to act as a platform for exchanging knowledge between experts in different fields relating to AI, and we encourage our members to take initiative and arrange events. Don’t hesitate to get in touch with us if you wish to contribute or give us feedback.

                    </h3>
                    <h3 class="section-subheading text-muted">
                        The following list (<a href="https://docs.google.com/spreadsheets/d/1f_R-i6RllD_Z2q2VLwbc0XJnce6wOb6HzOUSHfmjqus/edit?usp=sharing">link</a>) shows the current activities and events going on within Stockholm AI.
                        Please do not hesitate to contact any of the responsible people if you want to help out or participate in the activities and events.
                        Also, if you want to initiate an event or activity which is not already going on, please contact a board member (<a href="/board">link</a>) and propose your ideas. Stockholm AI always encourages and welcomes new ideas and initiatives.

                    </h3>
                </div>
            </div>

            <div class="row text-justify">
                {% for service in site.data.services %}
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa {{ service.favicon }} fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{{ service.title }}</h4>
                    <p class="text-muted">
                    {{ service.description }}
                    </p>
                    <br>

                    <a href="/meetups" class="page-scroll btn btn-xl">Read More</a>

                    <br /><br /><br /><br />

                </div>
                {% endfor %}

            </div>

            <div class="row">
                <div class="col-md-12">
                    <img src="img/events/IMG_3025.JPG" class="photo"/>
                </div>
            </div>
        </div>
    </section>
