<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" class="index">

        {% include navigation.html %}

            <section class={% cycle 'bg-light-gray' '' %}>
                <div class="container"> <!-- TODO should this be the structure? something does not work-->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Board {{ site.data.board.current.year }}</h2>
                        </div>
                    </div>
                    <div class="row text-center">
                        {% for speaker_id in site.data.board.current.members %}
                            {% assign speaker = site.people | where: "slug", speaker_id | first %}
                            <div class="col-sm-4">
                                <div class="person speaker">
                                    <img src="img/people/{{ speaker.pic }}" class="img-responsive img-circle" alt="">
                                    <h4>{{ speaker.name }}</h4>
                                    <p class="text-primary">{{ speaker.position }}</p>
                                    <ul class="list-inline social-buttons">
                                    <!--
                                        <li>
                                            <a href="{{ speaker.url }}">
                                                <i class="fa fa-user"></i>
                                            </a>
                                        </li>
                                    -->
                                        {% for network in speaker.social %}
                                            <li>
                                                <a href="{{ network.url }}">
                                                    <i class="fa fa-{{ network.title }}"></i>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

        {% include footer.html %}
        {% include js.html %}

    </body>
</html>
