<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" class="index">
        {% assign collection = site.collections | where: "label", page.collection | first %}
        {% assign posts = collection.docs %}

        <h1>{{ page.collection }}: {{ posts | size }}</h1>
        {% for post in posts %}
            <h3>post : {{ post.title }}</h3>
        {% endfor %}

        {{ content }}

        {% include promotion.html %}

        {% include footer.html %}
        {% include js.html %}

    </body>
</html>
