<!DOCTYPE html>
<html>
  {% include head.html %}

    <body id="page-top" class="index">

        {% include promotion.html %}
        {% include speakers.html %}

        {% comment %}
        {% include services.html %}
        {% include portfolio_grid.html %}
        {% endcomment %}

        {% include about.html %}
        {% include membership.html %}

        {% comment %}
        {% include team.html %}
        {% include clients.html %}
        {% endcomment %}

        {% include mailing_list.html %}

        {% include footer.html %}

        {% comment %}
        {% include modals.html %}
        {% endcomment %}

        {% include js.html %}

    </body>
</html>
